<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<!--{literal}-->

<!--{/literal}-->
</head>
<body>
<form action="../infce.php" name='form1' method="post">
<input type="text" name="name" value='{"item1":{"item11":{"n":"chenling",
"m":"llll"},"sex":"男","age":"25"},"item2":
{"item21":"ling","sex":"女","age":"24"}}'/>
<input type="submit" value="提交"/> 
</form>
</body>
</html>