<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--STATUS OK-->
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
<meta http-equiv="Cache-control" content="no-cache" />

<title></title>
</head>
<body>
<div>
    <div>
    	<p>提交成功，彩信已经发送，请及时接收</p>
    	<P><a href="wapshow.php?qrcode={$qrcode}">返回</a></P>
    </div>
  <br/>
</div>
</body>
</html>